#-----------------------------------------------------------------------
#       Confluence Upgrade Config
#   Requirement tools on remote server:
#       wget        - to download confluence binary software on remote server faster
#       dos2unix    - to convert windows bash script file to unit bash script file
#-----------------------------------------------------------------------

# ENVIR can be assigned to one of the three values (DEV, TEST, PROD)
ENVIR=DEV

#----------------------------------
# In future updates consider using 
# AWS CLI to obtain IP addresses
# as they are dynamic
#----------------------------------

#----------------------------------
#       Dev EC2 Instances
# ---------------------------------
DEV_NODE1_PUBLIC_IP=18.234.98.62
DEV_NODE1_PRIVATE_IP=172.31.75.39

#----------------------------------
#       Pentest EC2 Instances
# ---------------------------------
TEST_NODE1_PUBLIC_IP=18.234.97.195
TEST_NODE1_PRIVATE_IP=172.31.75.93
TEST_NODE2_PUBLIC_IP=34.234.175.230
TEST_NODE2_PRIVATE_IP=172.31.71.54

#----------------------------------
#       Prod EC2 Instances
# ---------------------------------
PROD_NODE1_PUBLIC_IP=xxx.xxx.xxx.xxx
PROD_NODE1_PRIVATE_IP=xxx.xxx.xxx.xxx
PROD_NODE2_PUBLIC_IP=xxx.xxx.xxx.xxx
PROD_NODE2_PRIVATE_IP=xxx.xxx.xxx.xxx

#---------------------------------
# Confluence version
#
# Note: Opportunity for the future
#  programmatically share a list
#  of versions to choose and
#  have user select one
#---------------------------------
CONFLUENCE_CURR_VERSION=6.7.3
CONFLUENCE_CURR_BUILD_NUMBER=7401

CONFLUENCE_UPGRADE_VERSION=6.15.2
CONFLUENCE_UPGRADE_BUILD_NUMBER=9999
CONFLUENCE_UPGRADE_BINARY=atlassian-confluence-${CONFLUENCE_UPGRADE_VERSION}-x64.bin
CONFLUENCE_DOWNLOAD_URL=https://www.atlassian.com/software/confluence/downloads/binary

CONFLUENCE_APP_LOG=/opt/atlassian/confluence-data/logs/atlassian-confluence.log

SLEEP_RUN_INTERVAL=600

#-----------------------------------------------------------------------
#       List of Confluence binary file
#-----------------------------------------------------------------------
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.5.3-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.6.13-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.7.3-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.8.5-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.9.3-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.10.2-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.11.2-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.12.4-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.13.4-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.14.3-x64.bin
#CONFLUENCE_NEW_BIN=https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-6.15.2-x64.bin

#--------------------------------------------------------------------------
# Reference info 
# https://developer.atlassian.com/server/confluence/confluence-build-information/
# https://confluence.atlassian.com/confkb/confluence-will-not-start-up-because-the-build-number-in-the-home-directory-doesn-t-match-the-build-number-in-the-database-after-upgrade-376834096.html?_ga=2.255840904.149078102.1556203270-1686289218.1553280628
#--------------------------------------------------------------------------

#----------------------------------------------------------------------
# Tools
#----------------------------------------------------------------------
# instruction to download and install wget to run in Git Bash (https://gist.github.com/evanwill/0207876c3243bbb6863e65ec5dc3f058)
